<div id="<%= dom_id hole %>">
  <p>
    <strong>Course:</strong>
    <%= hole.course_id %>
  </p>

  <p>
    <strong>Hole number:</strong>
    <%= hole.hole_number %>
  </p>

  <p>
    <strong>Hole handicap:</strong>
    <%= hole.hole_handicap %>
  </p>

  <p>
    <strong>Hole par:</strong>
    <%= hole.hole_par %>
  </p>

</div>
