<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= course.rating %>
  </p>

  <p>
    <strong>Slope:</strong>
    <%= course.slope %>
  </p>

  <p>
    <strong>Par:</strong>
    <%= course.par %>
  </p>

</div>
