<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating %>
  </div>

  <div>
    <%= form.label :slope, style: "display: block" %>
    <%= form.number_field :slope %>
  </div>

  <div>
    <%= form.label :par, style: "display: block" %>
    <%= form.number_field :par %>
  </div>

  <br>
  <table>
    <tr>
      <th></th>
      <% for i in 1..9 do %>
          <th><%= i %></th>
      <% end %>
    </tr>
    <tr>
    <td>PAR</td>
    <td>
      <%= form.fields_for :holes, [] do |h| %>
        <%= h.number_field :hole_par %>
      <% end %>
    </td>
    </tr>
    <tr>
    <td>HCP</td>
    <% for i in 1..9 do %>
      <td><input type="number" step="1" style="width:80%;"/></td>
    <% end %>
    </tr>

    <tr>
      <th></th>
      <% for i in 10..18 do %>
        <th><%= i %></th>
      <% end %>
    </tr>
    <tr>
    <td>PAR</td>
    <% for i in 1..9 do %>
      <td><input type="number" step="1" style="width:80%;"/></td>
    <% end %>
    </tr>
    <tr>
    <td>HCP</td>
    <% for i in 1..9 do %>
      <td><input type="number" step="1" style="width:80%;"/></td>
    <% end %>
    </tr>
  </table>

  <br><br>

  <div>
    <%= form.submit %>
  </div>
  <br><br>
<% end %>
